.title-resume-style{
    color:white;
   margin-bottom:0;
}
.contact-form-group{
    position:relative;
    padding-left:40px;
    
}
.contact-user-icon{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    height: 100%;
    color: #bdbdbd;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

.block-title h3 span{
    color: #2196F3;
}

.block-title h3{
    font-size: 21px;
    margin: 5px 0 25px;
}

.contact-submit-btn{
    background-color: #2196F3;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.8;
    padding: 0 1.5em;
    outline: none;
    border: 0;
    border-radius: 3px;
}

.contact-submit-btn:hover, .contact-submit-btn:focus {
    background-color: #2196F3;
    color: #fff;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.3);
}

.contact-form-input{
    border-radius: 0;
    /* border-top-style: none; */
    /* border-right-style: none; */
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.contact-error{
    position: absolute;
    font-size: 10px;
    color:red;
}